# This works in Visual Studio projects
#   to ignore most VS generated output.
# NOTE: It does not work for VSCode.

# Ignore build results (recursive, case-insensitive)
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
**/[Tt]emp/
**/[Tt]mp/

# Ignore Visual Studio-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore publish folders
**/[Pp]ublish/
